<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <h3>메인페이지 - 상품 리스트</h3>
    <ol>
        {% for product in products %}
        <li>상품 제목: {{ product.title }}, 상품 설명: {{ product.content }}, 상품 가격: {{ product.price }}, 상품 거래 희망 지역: {{ product.location }}</li>
        {% endfor %}
    </ol>
</body>
</html>